* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.pixelify-sans-weather-wrapper{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
  body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpixelartmaker.com%2Fart%2F281303a9bbc5eb8.png&f=1&nofb=1&ipt=cc90bd0b3663efe67fbcb32b9552d147dc87917dec21c5db980cc00a13a32a1d&ipo=images);
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    height: 100vh;
    background-color: rgba(70, 179, 223, 0.85);

  }
  main {
    background-color: rgba(173, 212, 227, 0.85);
    position: relative;
    top: 30%;
    border-radius: 5px;
    padding: 2em;
    width: 45%;
    margin: auto;
  }
  
  h1 {
    margin-bottom: 20px;
    color: rgba(0, 183, 255, 0.85);
    
  }
  #search {
    border-radius: 5px 0 0 5px;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 50px;
    border: none;
  }
  
  #submit {
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
    font-style: bold;
  }

  #weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  
  #weather-search {
    display: flex;
    width: 50%;
    gap: 5px;
  }